.pagecontent{
    width:100vw;
    padding-left: 1vw;
    .ui.huge.header{
        text-align: center;
        font-size: 4em;
    }
    .ui.large.header{
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
    .ui.segment.useritem{
        width:40vw;
        font-size: 1.1em;
        color:black;
        margin-bottom: 2vh;
        .header{
            font-size: 1.5em;
            color:rgb(10, 88, 255);
            font-weight: 600;
        }
        .meta .bold{
            margin-top: .5vh;
        }
        .description p{
            margin-bottom:0;
            line-height: 1.6em;
        }
    }


    .bold{
        font-weight: bolder;
    }

 
}
